In [1]:
import geopandas as gpd
import pandas as pd

# 분별로 카운팅(group by 관측소)

In [2]:
# 폴더 안에 있는 데이터 모두 대입해서 데이터 프레임 만들기
from os import listdir
from os.path import isfile, join

files = [f for f in listdir('../data/weather/기상_rawfile_csv/') if isfile(join('../data/weather/기상_rawfile_csv/', f))]
files
        
# 파일 경로명 리스트 생성하기
file_path_list = []
for file in files :
    path = '../data/weather/기상_rawfile_csv/'
    file_path_list.append(path+file)

# file_path_list

In [3]:
data_sample = pd.read_csv("../data/weather/기상_rawfile_csv/1903.csv",encoding="euc-kr")

# 전체 데이터 합치기
wind_all = pd.DataFrame(columns=list(data_sample.columns))
for file_path in file_path_list :
    data = pd.read_csv("%s" %file_path, encoding="euc-kr")
    wind_all = pd.concat([wind_all,data],ignore_index=True)

In [4]:
# 데이터 확인
wind_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28724555 entries, 0 to 28724554
Data columns (total 7 columns):
station        object
date           object
hour           object
min            object
wind_drtn      float64
wind_drtn_2    object
wind_speed     float64
dtypes: float64(2), object(5)
memory usage: 1.5+ GB

In [10]:
# 풍속 5 넘는 날 세서 분당 카운팅하기
wind_over5 = wind_all[wind_all.wind_speed >= 5]
groups = wind_over5.groupby(wind_over5.station)
wind_cnt = pd.DataFrame(groups["wind_speed"].count())
wind_cnt = wind_cnt.sort_values("wind_speed",ascending=False).reset_index()
wind_cnt.head()

  station  wind_speed
0  [기] 마포       42870
1  [기] 구로       32062
2  [서] 구로       29678
3  [기] 성동       26356
4  [기] 강북       24190

In [59]:
wind_loc = pd.read_csv("../data/seoul_station_xy_vals.csv",encoding="euc-kr")
del wind_loc["Unnamed: 0"]
wind_loc = wind_loc.rename(columns={"지점명":"station",
                                   "주소":"address",
                                   "위도":"lat",
                                   "경도":"lon"})
wind_loc

     station                           address        lat         lon
0     [기] 서울         대한민국 서울특별시 종로구 송월동 송월길 52  37.571427  126.966245
1   [기] 김포공항                대한민국 서울특별시 강서구 공항동  37.558949  126.810375
2     [기] 강남     대한민국 서울특별시 강남구 삼성동 봉은사로63길 22  37.513098  127.046964
3     [기] 서초       대한민국 서울특별시 서초구 서초동 서초중앙로 96  37.489961  127.016412
4     [기] 강동       대한민국 서울특별시 강동구 고덕1동 고덕로 183  37.555390  127.145504
5     [기] 송파      대한민국 서울특별시 송파구 잠실3동 올림픽로 240  37.511116  127.098167
6     [기] 강서    대한민국 서울특별시 강서구 화곡동 우장산로10길 112  37.549868  126.842289
7     [기] 양천            대한민국 서울특별시 양천구 목1동 915  37.528679  126.878501
8     [기] 도봉       대한민국 서울특별시 도봉구 방학동 시루봉로 173  37.665912  127.029323
9     [기] 노원        대한민국 서울특별시 노원구 공릉동 화랑로 574  37.623819  127.098878
10   [기] 동대문   대한민국 서울특별시 동대문구 전농2동 서울시립대로 163  37.583866  127.058777
11    [기] 중랑     대한민국 서울특별시 중랑구 면목본동 면목로57길 32  37.585227  127.086594
12   [기] 기상청  대한민국 서울특별시 동작구 신대방2동 여의대방로16길 61  37.493763  126.916751
13    [기] 마포        대한민국 서울특별시 마포구 창전동 와우산체육공원  37.551202  126.928284
14   [기] 서대문        대한민국 서울특별시 서대문구 신촌동 연세로 50  37.565784  126.938572
15    [기] 광진        대한민국 서울특별시 광진구 자양2동 680-67  37.533332  127.085758
16    [기] 성북                    대한민국 서울특별시 정릉동  37.611724  126.999244
17    [기] 용산       대한민국 서울특별시 용산구 이촌1동 이촌로 255  37.519929  126.975915
18    [기] 은평            대한민국 서울특별시 은평구 진관동 산26  37.644998  126.942607
19    [기] 금천   대한민국 서울특별시 금천구 독산2동 시흥대로104길 31  37.465101  126.900008
20    [기] 한강     대한민국 서울특별시 영등포구 여의도동 여의동로 280  37.528783  126.935724
21    [기] 중구           대한민국 서울특별시 중구 명동 소파로 83  37.556591  126.983974
22    [기] 성동      대한민국 서울특별시 성동구 성수동1가 서울숲길 18  37.547630  127.038127
23   [기] 북악산       대한민국 서울특별시 종로구 평창동 북악산로 267  37.601935  126.980536
24    [기] 구로        대한민국 서울특별시 구로구 수궁동 부일로 893  37.494228  126.825958
25    [기] 강북      대한민국 서울특별시 강북구 수유동 도봉로89길 13  37.639777  127.025518
26    [기] 남현                대한민국 서울특별시 관악구 남현동  37.467555  126.979420
27    [기] 관악              대한민국 서울특별시 관악구 관악로 1  37.459882  126.951905
28   [기] 영등포   대한민국 서울특별시 영등포구 당산2동 국회대로53길 20  37.526644  126.907202
29   [기] 현충원        대한민국 서울특별시 동작구 동작동 현충로 210  37.500593  126.972637
30    [서] 남산        대한민국 서울특별시 중구 예장동 삼일대로 231  37.555589  126.992210
31   [서] 동대문           대한민국 서울특별시 동대문구 휘경동 348  37.589293  127.069588
32    [서] 성북       대한민국 서울특별시 성북구 종암동 종암로 98-8  37.599048  127.035315
33    [서] 도봉         대한민국 서울특별시 도봉구 창1동 해등로 25  37.646724  127.043718
34    [서] 마포        대한민국 서울특별시 마포구 성산2동 성중길 82  37.573678  126.900898
35    [서] 구로       대한민국 서울특별시 구로구 구로동 구로동로 141  37.491271  126.883291
36   [서] 영등포      대한민국 서울특별시 영등포구 양평2동 양평로 171  37.539184  126.888856
37    [서] 서초        대한민국 서울특별시 서초구 방배2동 462-13  37.479740  126.985527
38    [서] 강남           대한민국 서울특별시 강남구 삼성동 16-1  37.517542  127.047964
39   [서] 서대문       대한민국 서울특별시 서대문구 홍은동 산26-155  37.580652  126.931270
40    [서] 금천    대한민국 서울특별시 금천구 독산2동 범안로 1240-7  37.466077  126.899739
41    [서] 양천        대한민국 서울특별시 양천구 목동 목동동로 298  37.528679  126.878501
42    [서] 노원       대한민국 서울특별시 노원구 중계2.3동 507-2  37.640696  127.065168
43    [서] 광진     대한민국 서울특별시 광진구 능동 천호대로112길 55  37.553723  127.080517
44    [서] 강북        대한민국 서울특별시 강북구 미아동 솔샘로 284  37.618256  127.023837
45    [서] 송파       대한민국 서울특별시 송파구 오금동 중대로25길 5  37.502962  127.128096
46    [서] 용산       대한민국 서울특별시 용산구 청파동 청파로49길 6  37.545398  126.969888
47    [서] 성동     대한민국 서울특별시 성동구 성수동1가 강변북로 257  37.538691  127.042044
48    [서] 중랑         대한민국 서울특별시 중랑구 면목4동 378-5  37.573889  127.085000
49    [서] 중구       대한민국 서울특별시 중구 장충동2가 장충단로 88  37.553550  127.003061
50    [서] 종로  대한민국 서울특별시 종로구 종로1.2.3.4가동 종로17길  37.571658  126.988485
51    [서] 은평            대한민국 서울특별시 은평구 녹번동 녹번로  37.604862  126.929240
52    [서] 동작      대한민국 서울특별시 동작구 노량진1동 노들로 734  37.515572  126.944743
53    [서] 관악         대한민국 서울특별시 관악구 성현동 구암길 38  37.489489  126.948147
54    [서] 강동         대한민국 서울특별시 강동구 성내동 성내로 51  37.529129  127.126211
55    [서] 강서   대한민국 서울특별시 강서구 염창동 양천로67길 93-22  37.555989  126.871856

In [60]:
from pyproj import Proj, transform
import numpy as np
import pandas as pd

proj_EPSG = Proj(init='epsg:5186') # 한국형 좌표계
proj_WGS = Proj(init='epsg:4326') # GPS사용 전지구 좌표

lat_list = []
lon_list = []
for n in range(0,len(wind_loc.index)) :
    try :
        lat_put = wind_loc.lat[n]
        lon_put = wind_loc.lon[n]
        lon_new, lat_new  = pyproj.transform(proj_WGS, proj_EPSG, lon_put, lat_put)
        lat_list.append(lat_new)
        lon_list.append(lon_new)
    except :
        lat_list.append(np.nan)
        lon_list.append(np.nan)
        
wind_loc["lat_EPSG"] = lat_list
wind_loc["lon_EPSG"] = lon_list

wind_loc = wind_loc.rename(columns = {"lat":"lat_WGS","lon":"lon_WGS"})

In [61]:
wind_high_cnt = pd.merge(wind_cnt,wind_loc)
wind_high_cnt.to_csv("../data/weather/wind_high_cnt.csv",encoding="euc-kr")

# 하루에 10분이상 풍속 5 이상의 바람이 부는 곳 구하기

In [92]:
wind_all.head()

  station      date hour min  wind_drtn wind_drtn_2  wind_speed
0  [기] 서울  20180505    2   6      296.2         서북서         0.7
1  [기] 서울  20180505    1  42      196.4         남남서         2.7
2  [기] 서울  20180505    1  43      187.2           남         1.8
3  [기] 서울  20180505    1  44      194.9         남남서         1.6
4  [기] 서울  20180505    1  45      223.1          남서         2.2

샘플로 먼저 서울 관측소의 180505의 데이터로 측정

In [96]:
names = list(wind_all.station.unique())
var_list = []
for name in names :
    var = name.split(" ")[1]
    var_list.append("w_"+var)

In [93]:
for stn in wind_all.station.unique() :
    name = stn.split(" ")[1]
    exec("w_%s = wind_all[wind_all.station == '%s']" %(name,stn))

dataframe ; [기] 서울(변수명 w_서울) None
dataframe ; [기] 강동(변수명 w_강동) None
dataframe ; [기] 도봉(변수명 w_도봉) None
dataframe ; [기] 노원(변수명 w_노원) None
dataframe ; [기] 기상청(변수명 w_기상청) None
dataframe ; [기] 마포(변수명 w_마포) None
dataframe ; [기] 성북(변수명 w_성북) None
dataframe ; [기] 용산(변수명 w_용산) None
dataframe ; [기] 성동(변수명 w_성동) None
dataframe ; [기] 현충원(변수명 w_현충원) None
dataframe ; [서] 동대문(변수명 w_동대문) None
dataframe ; [서] 마포(변수명 w_마포) None
dataframe ; [서] 구로(변수명 w_구로) None
dataframe ; [서] 강남(변수명 w_강남) None
dataframe ; [기] 서초(변수명 w_서초) None
dataframe ; [기] 송파(변수명 w_송파) None
dataframe ; [기] 강서(변수명 w_강서) None
dataframe ; [기] 중랑(변수명 w_중랑) None
dataframe ; [기] 서대문(변수명 w_서대문) None
dataframe ; [기] 금천(변수명 w_금천) None
dataframe ; [기] 한강(변수명 w_한강) None
dataframe ; [기] 중구(변수명 w_중구) None
dataframe ; [기] 북악산(변수명 w_북악산) None
dataframe ; [기] 강북(변수명 w_강북) None
dataframe ; [기] 남현(변수명 w_남현) None
dataframe ; [기] 관악(변수명 w_관악) None
dataframe ; [기] 영등포(변수명 w_영등포) None
dataframe ; [서] 성북(변수명 w_성북) None
dataframe ; [서] 금천(변수명 w_금천) None
dataframe ; [서] 광진(변수명 w_광진) None
dataframe ; [서] 용산(변수명 w_용산) None
dataframe ; [서] 성동(변수명 w_성동) None
dataframe ; [서] 중구(변수명 w_중구) None
dataframe ; [서] 은평(변수명 w_은평) None
dataframe ; [서] 동작(변수명 w_동작) None
dataframe ; [서] 노원(변수명 w_노원) None
dataframe ; [기] 구로(변수명 w_구로) None
dataframe ; [서] 도봉(변수명 w_도봉) None
dataframe ; [서] 양천(변수명 w_양천) None
dataframe ; [서] 영등포(변수명 w_영등포) None
dataframe ; [서] 서대문(변수명 w_서대문) None
dataframe ; [서] 종로(변수명 w_종로) None
dataframe ; [기] 동대문(변수명 w_동대문) None
dataframe ; [기] 은평(변수명 w_은평) None
dataframe ; [기] 광진(변수명 w_광진) None
dataframe ; [서] 강북(변수명 w_강북) None
dataframe ; [기] 강남(변수명 w_강남) None
dataframe ; [기] 양천(변수명 w_양천) None
dataframe ; [서] 강동(변수명 w_강동) None
dataframe ; [서] 중랑(변수명 w_중랑) None
dataframe ; [서] 서초(변수명 w_서초) None
dataframe ; [서] 남산(변수명 w_남산) None
dataframe ; [서] 관악(변수명 w_관악) None
dataframe ; [서] 송파(변수명 w_송파) None

In [98]:
print(var_list)

['w_서울', 'w_강동', 'w_도봉', 'w_노원', 'w_기상청', 'w_마포', 'w_성북', 'w_용산', 'w_성동', 'w_현충원', 'w_동대문', 'w_마포', 'w_구로', 'w_강남', 'w_서초', 'w_송파', 'w_강서', 'w_중랑', 'w_서대문', 'w_금천', 'w_한강', 'w_중구', 'w_북악산', 'w_강북', 'w_남현', 'w_관악', 'w_영등포', 'w_성북', 'w_금천', 'w_광진', 'w_용산', 'w_성동', 'w_중구', 'w_은평', 'w_동작', 'w_노원', 'w_구로', 'w_도봉', 'w_양천', 'w_영등포', 'w_서대문', 'w_종로', 'w_동대문', 'w_은평', 'w_광진', 'w_강북', 'w_강남', 'w_양천', 'w_강동', 'w_중랑', 'w_서초', 'w_남산', 'w_관악', 'w_송파']

# 이거 오류난 거야!!!!!!!!!!!!

In [123]:
def day_counter(w_data) :
    cnt_vector = ""
    for i in w_data.wind_speed :
        if i >= 5 :
            cnt_vector += "1"
        else :
            cnt_vector += "0"
    real = cnt_vector

    cnt = []
    for i in range(0,len(cnt_vector)) :
        if cnt_vector[i] == "0" :
            pass
        else :
            try :
                if cnt_vector[i+1] == "0" :
                    pass
                else :
                    n = len(cnt_vector[i:].split("0")[0])
                    cnt.append(n)
                    cnt_vector[i:i+n-1].replace("1","0")
            except IndexError :
                    for i in range(0,len(cnt_vector)-1) :
                        if cnt_vector[i] == "0" :
                            pass
                        else :
                            if cnt_vector[i+1] == "0" :
                                pass
                            else :
                                n = len(cnt_vector.split("0")[-1])
                                cnt.append(n)

    cnts_over5 = []
    for n in cnt :
        if n >=5 :
            cnts_over5.append(n)
        else :
            pass
        
    return real, cnts_over5

In [111]:
w_서울.head()

  station      date hour min  wind_drtn wind_drtn_2  wind_speed
0  [기] 서울  20180505    2   6      296.2         서북서         0.7
1  [기] 서울  20180505    1  42      196.4         남남서         2.7
2  [기] 서울  20180505    1  43      187.2           남         1.8
3  [기] 서울  20180505    1  44      194.9         남남서         1.6
4  [기] 서울  20180505    1  45      223.1          남서         2.2

In [137]:
data_check = w_서울[w_서울.date == 20190331]
cnt_vector = ""
for i in data_check.wind_speed :
    if i >= 5 :
        cnt_vector += "1"
    else :
        cnt_vector += "0"
print(cnt_vector)
cnt = []
for i in range(0,len(cnt_vector)) :
    if cnt_vector[i] == "0" :
        pass
    else :
        try :
            if cnt_vector[i+1] == "0" :
                pass
            else :
                n = len(cnt_vector[i:].split("0")[0])
                cnt.append(n)
                cnt_vector[i:i+n-1].replace("1","0")
        except IndexError :
                for i in range(0,len(cnt_vector)-1) :
                    if cnt_vector[i] == "0" :
                        pass
                    else :
                        if cnt_vector[i+1] == "0" :
                            pass
                        else :
                            n = len(cnt_vector.split("0")[-1])
                            cnt.append(n)
print(cnt)

0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000100000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000110000000000100000000010000000000000000000000000100100010000000000100000000000111100000000000000000100000001000000001000011000100000010000000000011000000000101100000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000011000000000000000100001000000000000000000000000000000100000000111010000000000000000010001000000000001000000000011000000000000000000000000000100000000000000000000000000000000100000001000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000001100000001000000000000000110000000001000000000010011001100100000001110001110000001000000011000000000000000000000000101101110000010001111001111111011100001001000010110110001101111101
[2, 4, 3, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 3, 2, 3, 2, 2, 2, 3, 2, 4, 3, 2, 7, 6, 5, 4, 3, 2, 3, 2, 2, 2, 2, 5, 4, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [127]:
len(set(list(w_서울.date)))
days = set(list(w_서울.date)) #int
# days
for day in days :
    w_data = w_서울[w_서울.date == day]
    string, cnt = day_counter(w_data)
    if len(cnt) == 0 :
        pass
    elif string[-1] == 1 :
        print("%s 일자 지속도 벡터 :" %day, cnt)
        print("스트링\n",string,"\n")
    else : 
        print("%s 일자 지속도 벡터 :" %day, cnt)
#         print("스트링\n",string,"\n")

20181001 일자 지속도 벡터 : [7, 6, 5]
20181010 일자 지속도 벡터 : [5]
20181027 일자 지속도 벡터 : [5, 6, 5, 6, 5]
20181028 일자 지속도 벡터 : [6, 5]
20181109 일자 지속도 벡터 : [5, 5, 8, 7, 6, 5, 5]
20181204 일자 지속도 벡터 : [8, 7, 6, 5, 6, 5, 5]
20181206 일자 지속도 벡터 : [7, 6, 5]
20181207 일자 지속도 벡터 : [8, 7, 6, 5, 8, 7, 6, 5, 12, 11, 10, 9, 8, 7, 6, 5, 5, 8, 7, 6, 5, 5, 6, 5, 7, 6, 5, 5]
20181213 일자 지속도 벡터 : [7, 6, 5]
20181223 일자 지속도 벡터 : [5, 5, 6, 5, 6, 5, 8, 7, 6, 5]
20181227 일자 지속도 벡터 : [5, 7, 6, 5]
20181229 일자 지속도 벡터 : [5, 5, 5]
20190108 일자 지속도 벡터 : [8, 7, 6, 5, 13, 12, 11, 10, 9, 8, 7, 6, 5, 5, 5]
20190115 일자 지속도 벡터 : [5, 9, 8, 7, 6, 5, 7, 6, 5, 5]
20190120 일자 지속도 벡터 : [5, 5, 6, 5]
20190125 일자 지속도 벡터 : [7, 6, 5, 5]
20190128 일자 지속도 벡터 : [6, 5, 6, 5, 6, 5, 6, 5, 5, 5, 12, 11, 10, 9, 8, 7, 6, 5, 5, 5, 10, 9, 8, 7, 6, 5, 6, 5]
20190207 일자 지속도 벡터 : [5, 6, 5, 5]
20190312 일자 지속도 벡터 : [6, 5]
20190313 일자 지속도 벡터 : [7, 6, 5, 11, 10, 9, 8, 7, 6, 5, 7, 6, 5, 9, 8, 7, 6, 5, 6, 5, 7, 6, 5, 6, 5, 7, 6, 5, 6, 5]
20190321 일자 지속도 벡터 : [7, 6, 5, 5]
20190323 일자 지속도 벡터 : [8, 7, 6, 5, 5, 8, 7, 6, 5, 7, 6, 5, 5, 6, 5]
20190327 일자 지속도 벡터 : [5, 5, 6, 5, 11, 10, 9, 8, 7, 6, 5, 6, 5, 6, 5, 7, 6, 5, 6, 5, 8, 7, 6, 5]
20190330 일자 지속도 벡터 : [6, 5, 5, 9, 8, 7, 6, 5, 6, 5, 5]
20190331 일자 지속도 벡터 : [7, 6, 5, 5]
20190401 일자 지속도 벡터 : [5, 5, 6, 5, 5]
20190402 일자 지속도 벡터 : [8, 7, 6, 5, 7, 6, 5]
20190404 일자 지속도 벡터 : [5, 5]
20190405 일자 지속도 벡터 : [5]
20190408 일자 지속도 벡터 : [5, 5]
20190411 일자 지속도 벡터 : [5]
20190414 일자 지속도 벡터 : [5, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5]
20190415 일자 지속도 벡터 : [5]
20190417 일자 지속도 벡터 : [6, 5]
20190505 일자 지속도 벡터 : [6, 5, 5]
20190506 일자 지속도 벡터 : [5, 5]
20190507 일자 지속도 벡터 : [5]
20190520 일자 지속도 벡터 : [11, 10, 9, 8, 7, 6, 5, 7, 6, 5, 6, 5, 6, 5, 9, 8, 7, 6, 5]
20190521 일자 지속도 벡터 : [5, 5, 8, 7, 6, 5, 6, 5, 5, 9, 8, 7, 6, 5, 5]
20190530 일자 지속도 벡터 : [7, 6, 5]
20190531 일자 지속도 벡터 : [5, 8, 7, 6, 5]
20190615 일자 지속도 벡터 : [6, 5]
20190701 일자 지속도 벡터 : [5]
20190730 일자 지속도 벡터 : [5, 9, 8, 7, 6, 5]
20180504 일자 지속도 벡터 : [5]
20180510 일자 지속도 벡터 : [7, 6, 5, 5]
20180516 일자 지속도 벡터 : [6, 5]
20180517 일자 지속도 벡터 : [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5]
20190816 일자 지속도 벡터 : [5]
20190829 일자 지속도 벡터 : [8, 7, 6, 5, 6, 5, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5]
20180815 일자 지속도 벡터 : [12, 11, 10, 9, 8, 7, 6, 5]
20180821 일자 지속도 벡터 : [17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 5]
20180905 일자 지속도 벡터 : [5, 5, 6, 5, 5]
20180906 일자 지속도 벡터 : [5]

In [129]:
len(set(list(w_서울.date)))
days = set(list(w_서울.date)) #int
# days
for day in days :
    w_data = w_서울[w_서울.date == day]
    string, cnt = day_counter_old(w_data)
    if len(cnt) == 0 :
        pass
    elif string[-1] == 1 :
        print("%s 일자 지속도 벡터 :" %day, cnt)
        print("스트링\n",string,"\n")
    else : 
        print("%s 일자 지속도 벡터 :" %day, cnt)
#         print("스트링\n",string,"\n")

20181001 일자 지속도 벡터 : [7, 6, 5]
20181010 일자 지속도 벡터 : [5]
20181027 일자 지속도 벡터 : [5, 6, 5, 6, 5]
20181028 일자 지속도 벡터 : [6, 5]
20181109 일자 지속도 벡터 : [5, 5, 8, 7, 6, 5, 5]
20181204 일자 지속도 벡터 : [8, 7, 6, 5, 6, 5, 5]
20181206 일자 지속도 벡터 : [7, 6, 5]
20181207 일자 지속도 벡터 : [8, 7, 6, 5, 8, 7, 6, 5, 12, 11, 10, 9, 8, 7, 6, 5, 5, 8, 7, 6, 5, 5, 6, 5, 7, 6, 5, 5]
20181213 일자 지속도 벡터 : [7, 6, 5]
20181223 일자 지속도 벡터 : [5, 5, 6, 5, 6, 5, 8, 7, 6, 5]
20181227 일자 지속도 벡터 : [5, 7, 6, 5]
20181229 일자 지속도 벡터 : [5, 5, 5]
20190108 일자 지속도 벡터 : [8, 7, 6, 5, 13, 12, 11, 10, 9, 8, 7, 6, 5, 5, 5]
20190115 일자 지속도 벡터 : [5, 9, 8, 7, 6, 5, 7, 6, 5, 5]
20190120 일자 지속도 벡터 : [5, 5, 6, 5]
20190125 일자 지속도 벡터 : [7, 6, 5, 5]
20190128 일자 지속도 벡터 : [6, 5, 6, 5, 6, 5, 6, 5, 5, 5, 12, 11, 10, 9, 8, 7, 6, 5, 5, 5, 10, 9, 8, 7, 6, 5, 6, 5]
20190207 일자 지속도 벡터 : [5, 6, 5, 5]
20190312 일자 지속도 벡터 : [6, 5]
20190313 일자 지속도 벡터 : [7, 6, 5, 11, 10, 9, 8, 7, 6, 5, 7, 6, 5, 9, 8, 7, 6, 5, 6, 5, 7, 6, 5, 6, 5, 7, 6, 5, 6, 5]
20190321 일자 지속도 벡터 : [7, 6, 5, 5]
20190323 일자 지속도 벡터 : [8, 7, 6, 5, 5, 8, 7, 6, 5, 7, 6, 5, 5, 6, 5]
20190327 일자 지속도 벡터 : [5, 5, 6, 5, 11, 10, 9, 8, 7, 6, 5, 6, 5, 6, 5, 7, 6, 5, 6, 5, 8, 7, 6, 5]
20190330 일자 지속도 벡터 : [6, 5, 5, 9, 8, 7, 6, 5, 6, 5, 5]

IndexError: string index out of range

In [128]:
def day_counter_old(w_data) :
    cnt_vector = ""
    for i in w_data.wind_speed :
        if i >= 5 :
            cnt_vector += "1"
        else :
            cnt_vector += "0"

    cnt = []
    for i in range(0,len(cnt_vector)) :
        if cnt_vector[i] == "0" :
            pass
        else :
            if cnt_vector[i+1] == "0" :
                pass
            else :
                n = len(cnt_vector[i:].split("0")[0])
                cnt.append(n)
                cnt_vector[i:i+n-1].replace("1","")

    cnts_over5 = []
    for n in cnt :
        if n >=5 :
            cnts_over5.append(n)
        else :
            pass
        
    return cnt_vector, cnts_over5

In [70]:
w_data = w_data[w_data.date == 20180505]

In [100]:
w_data

       station      date hour min   wind_drtn wind_drtn_2  wind_speed  over_5
0       [기] 서울  20180505    2   6  296.200000         서북서         0.7       0
1       [기] 서울  20180505    1  42  196.400000         남남서         2.7       0
2       [기] 서울  20180505    1  43  187.200000           남         1.8       0
3       [기] 서울  20180505    1  44  194.900000         남남서         1.6       0
4       [기] 서울  20180505    1  45  223.100000          남서         2.2       0
...        ...       ...  ...  ..         ...         ...         ...     ...
618941  [기] 서울  20180505   12  43  233.100006          남서         4.2       0
618942  [기] 서울  20180505   12  44  228.100006          남서         3.7       0
618943  [기] 서울  20180505   12  45  228.699997          남서         4.1       0
618944  [기] 서울  20180505   12  46  239.000000         서남서         3.9       0
618945  [기] 서울  20180505   12  47  206.399994         남남서         3.5       0

[1434 rows x 8 columns]

# 함수
wind_speed를 변수로 가진 데이터 넣으면 5 이상 지속된 횟수 세어서 횟수 리스트로 반환하는 함수

ex) 1111100111111011 일 경우 : [5,6] 반환

In [83]:
cnt = []
for i in range(0,len(cnt_vector)) :
    if cnt_vector[i] == "0" :
        pass
    else :
        if cnt_vector[i+1] == "0" :
            pass
        else :
            n = len(cnt_vector[i:].split("0")[0])
            cnt.append(n)
            cnt_vector[i:i+n-1].replace("1","")

In [84]:
cnt

[2, 3, 2, 2, 2, 2]