In [143]:
import pandas as pd

In [3]:
import geopandas as gpd

## 도로 데이터

In [4]:
# 폭 15 이상 도로
sp = gpd.read_file('../QGIS/도로/roads_over15.shp',encoding='euc-kr')

In [145]:
# key 찾기
for i in sp.columns:
    exec("print('%s',len(sp['%s'].unique()))" %(i,i))

SIG_CD 25
RDS_MAN_NO 1640
RN 1120
RN_CD 1148
ENG_RN 1120
NTFC_DE 78
RN_DLB_DE 60
ROA_MAN_ES 4
WDR_RD_CD 3
ROA_CLS_SE 4
RDS_DPN_SE 4
RBP_CN 1259
REP_CN 1297
ROAD_BT 58
ROAD_LT 1008
BSI_INT 21
NLR_LCL_NO 2
ALWNC_RESN 909
ALWNC_DE 82
MVM_RES_CD 7
MVMN_RESN 13
MVMN_DE 127
PAR_SIG_CD 1
PAR_RDS_NO 1
INPUT_MTHD 2
CRSRD_CNT 1
ISSU_YN 1
CRSRD_CNT_ 1
PAR_RDS__1 1
RDS_MAN__1 1
ROAD_BT_12 1
ROAD_LT_12 1
ROAD_PY_LT 977
ESRI_PK 2302
SHAPE_LEN 2302
geometry 2302

In [140]:
sp.columns

Index(['SIG_CD', 'RDS_MAN_NO', 'RN', 'RN_CD', 'ENG_RN', 'NTFC_DE', 'RN_DLB_DE',
       'ROA_MAN_ES', 'WDR_RD_CD', 'ROA_CLS_SE', 'RDS_DPN_SE', 'RBP_CN',
       'REP_CN', 'ROAD_BT', 'ROAD_LT', 'BSI_INT', 'NLR_LCL_NO', 'ALWNC_RESN',
       'ALWNC_DE', 'MVM_RES_CD', 'MVMN_RESN', 'MVMN_DE', 'PAR_SIG_CD',
       'PAR_RDS_NO', 'INPUT_MTHD', 'CRSRD_CNT', 'ISSU_YN', 'CRSRD_CNT_',
       'PAR_RDS__1', 'RDS_MAN__1', 'ROAD_BT_12', 'ROAD_LT_12', 'ROAD_PY_LT',
       'ESRI_PK', 'SHAPE_LEN', 'geometry'],
      dtype='object')

In [5]:
roads_15 = sp.loc[:,['ESRI_PK','RN','RN_CD','ROAD_BT', 'ROAD_LT','geometry']]
roads_15

,ESRI_PK,RN,RN_CD,ROAD_BT,ROAD_LT,geometry
0,122,종로,3100013,40,76,"LINESTRING (127.00530 37.57108, 127.00529 37.5..."
1,148,종로,3100013,40,52,"LINESTRING (126.99574 37.57060, 126.99582 37.5..."
2,172,새문안로,3005004,40,177,"LINESTRING (126.97330 37.57014, 126.97328 37.5..."
3,124,종로,3100013,40,88,"LINESTRING (127.00778 37.57112, 127.00784 37.5..."
4,147,종로,3100013,40,37,"LINESTRING (126.99558 37.57059, 126.99564 37.5..."
...,...,...,...,...,...,...
2297,70510,상암로,3124003,15,4332,"LINESTRING (127.12398 37.55165, 127.12456 37.5..."
2298,70824,신내역로1길,4118589,20,286,"LINESTRING (127.10518 37.61305, 127.10588 37.6..."
2299,70827,신내역로3길,4118591,15,282,"LINESTRING (127.10706 37.61951, 127.10628 37.6..."
2300,70676,천호대로,2000008,51,6829,"LINESTRING (127.10945 37.54367, 127.10946 37.5..."
2301,70506,고덕로97길,4172039,25,591,"LINESTRING (127.17995 37.55840, 127.17955 37.5..."

## 건물 데이터(샘플링 기준: 관측소 반경 2km 건물)

In [28]:
# # 모든 건물
# bd = pd.read_csv('../data/2016_shp.csv',encoding='euc-kr')
# all_building = bd.loc[:,['BD_MGT_SN','RN_CD','STN']]
# all_building

In [153]:
sp_1 = pd.read_csv('../data/top8관측소_가까운빌딩.csv',encoding='euc-kr')
len(sp_1.BD_MGT_SN.unique())

906

In [144]:
sp = pd.read_csv('../data/top8관측소_가까운빌딩_수정본.csv',encoding='euc-kr')
sp

                      BD_MGT_SN     BULD_NM    RN_CD     거리_km STN
0     1144011400104370000024635    창전동삼성아파트  3113010  0.147781  마포
1     1144011400104370000008972    창전동삼성아파트  3113010  0.179150  마포
2     1144011400104370000008974    창전동삼성아파트  3113010  0.193310  마포
3     1144011400104370000008973    창전동삼성아파트  3113010  0.205810  마포
4     1144011400104370000008971    창전동삼성아파트  3113010  0.211544  마포
...                         ...         ...      ...       ...  ..
1025  1117012000100230000016084    도원동삼성래미안  3005018  1.985107  한강
1026  1144010400105530000003671      마스터즈타워  3113005  1.987082  한강
1027  1159010800105080000005328  대방1차e-편한세상  4157499  1.988455  한강
1028  1117012900104000000011065     현대한강아파트  4106279  1.991080  한강
1029  1144010400100170022021667    신라스테이 마포  2113001  1.993715  한강

[1030 rows x 5 columns]

In [168]:
sp_uni = sp.drop_duplicates("BD_MGT_SN")
sp_uni

                      BD_MGT_SN     BULD_NM    RN_CD     거리_km STN
0     1144011400104370000024635    창전동삼성아파트  3113010  0.147781  마포
1     1144011400104370000008972    창전동삼성아파트  3113010  0.179150  마포
2     1144011400104370000008974    창전동삼성아파트  3113010  0.193310  마포
3     1144011400104370000008973    창전동삼성아파트  3113010  0.205810  마포
4     1144011400104370000008971    창전동삼성아파트  3113010  0.211544  마포
...                         ...         ...      ...       ...  ..
1025  1117012000100230000016084    도원동삼성래미안  3005018  1.985107  한강
1026  1144010400105530000003671      마스터즈타워  3113005  1.987082  한강
1027  1159010800105080000005328  대방1차e-편한세상  4157499  1.988455  한강
1028  1117012900104000000011065     현대한강아파트  4106279  1.991080  한강
1029  1144010400100170022021667    신라스테이 마포  2113001  1.993715  한강

[970 rows x 5 columns]

In [152]:
len(sp.BD_MGT_SN.unique())

970

In [29]:
# building_code = list(sp.BD_MGT_SN)
# len(building_code)

In [30]:
# df = all_building.loc[all_building.BD_MGT_SN.isin(building_code),:]
# df.columns = ['빌딩코드','RN_CD']
# df

In [31]:
# sample_building = pd.merge(sp,df[['빌딩코드','RN_CD']],on='빌딩코드')
# sample_building

## 도로와 가까운 건물 샘플링

In [150]:
# 도로 코드
roads_code = list(roads_15.RN_CD.unique())
len(roads_code)

1148

In [161]:
# 샘플링
result = sp.loc[sp.RN_CD.isin(roads_code),:]
result = result.rename(columns = {'빌딩코드': 'BD_MGT_SN'})
result_code = list(result.BD_MGT_SN.unique())
result

                      BD_MGT_SN     BULD_NM    RN_CD     거리_km STN
0     1144011400104370000024635    창전동삼성아파트  3113010  0.147781  마포
1     1144011400104370000008972    창전동삼성아파트  3113010  0.179150  마포
2     1144011400104370000008974    창전동삼성아파트  3113010  0.193310  마포
3     1144011400104370000008973    창전동삼성아파트  3113010  0.205810  마포
4     1144011400104370000008971    창전동삼성아파트  3113010  0.211544  마포
...                         ...         ...      ...       ...  ..
1024  1159010800105080000005329  대방1차e-편한세상  4157499  1.984727  한강
1025  1117012000100230000016084    도원동삼성래미안  3005018  1.985107  한강
1026  1144010400105530000003671      마스터즈타워  3113005  1.987082  한강
1027  1159010800105080000005328  대방1차e-편한세상  4157499  1.988455  한강
1029  1144010400100170022021667    신라스테이 마포  2113001  1.993715  한강

[731 rows x 5 columns]

In [162]:
# 중복값 제거
result_uni = result.drop_duplicates("BD_MGT_SN")
result_uni

                      BD_MGT_SN     BULD_NM    RN_CD     거리_km STN
0     1144011400104370000024635    창전동삼성아파트  3113010  0.147781  마포
1     1144011400104370000008972    창전동삼성아파트  3113010  0.179150  마포
2     1144011400104370000008974    창전동삼성아파트  3113010  0.193310  마포
3     1144011400104370000008973    창전동삼성아파트  3113010  0.205810  마포
4     1144011400104370000008971    창전동삼성아파트  3113010  0.211544  마포
...                         ...         ...      ...       ...  ..
1024  1159010800105080000005329  대방1차e-편한세상  4157499  1.984727  한강
1025  1117012000100230000016084    도원동삼성래미안  3005018  1.985107  한강
1026  1144010400105530000003671      마스터즈타워  3113005  1.987082  한강
1027  1159010800105080000005328  대방1차e-편한세상  4157499  1.988455  한강
1029  1144010400100170022021667    신라스테이 마포  2113001  1.993715  한강

[691 rows x 5 columns]

In [149]:
len(result_code)

691

In [68]:
result.STN.unique()

array(['마포', '구로', '서대문', '성동', '강북', '구로2', '중랑', '중구'], dtype=object)

In [163]:
BB= pd.read_csv('../data/high_bld_over20_include_BIBS.csv', encoding='euc-kr')
Bb = BB.loc[BB.빌딩코드.isin(result_code),['빌딩코드','lat_center','lon_center','Bl','Bs']]
Bb.columns = ['BD_MGT_SN','lat_center','lon_center','BI','Bs']
Bb

                      BD_MGT_SN  lat_center  lon_center        BI        Bs
0     1111012000101160000028381   37.569797  126.973931  0.047880  0.025060
1     1111012000101630000031927   37.569698  126.974905  0.059850  0.029070
2     1111011700100290000000001   37.570698  126.975402  0.053859  0.051109
3     1111012000102260000000001   37.569643  126.972143  0.065828  0.055122
4     1111012000101150000000001   37.569796  126.973173  0.058853  0.028069
...                         ...         ...         ...       ...       ...
4516  1144011400104370000008972   37.551101  126.930312  0.049126  0.046853
4517  1153010100106420000026422   37.506109  126.878928  0.042130  0.039852
4519  1114011400102500000022814   37.562382  126.975564  0.077161  0.068817
4524  1154510100100600005000001   37.479510  126.887507  0.099287  0.084681
4531  1114016900100010004000001   37.565786  126.967571  0.086179  0.052845

[691 rows x 5 columns]

In [164]:
result_B = pd.merge(result_uni,Bb,on='BD_MGT_SN')
result_B

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs
0,1144011400104370000024635,창전동삼성아파트,3113010,0.147781,마포,37.550569,126.929758,0.067796,0.058159
1,1144011400104370000008972,창전동삼성아파트,3113010,0.179150,마포,37.551101,126.930312,0.049126,0.046853
2,1144011400104370000008974,창전동삼성아파트,3113010,0.193310,마포,37.550588,126.930335,0.042105,0.035884
3,1144011400104370000008973,창전동삼성아파트,3113010,0.205810,마포,37.550795,126.930561,0.043111,0.041869
4,1144011400104370000008971,창전동삼성아파트,3113010,0.211544,마포,37.551372,126.930674,0.024925,0.021058
...,...,...,...,...,...,...,...,...,...
686,1159010800105080000005329,대방1차e-편한세상,4157499,1.984727,한강,37.511942,126.928267,0.052857,0.024085
687,1117012000100230000016084,도원동삼성래미안,3005018,1.985107,한강,37.538004,126.955001,0.041094,0.036893
688,1144010400105530000003671,마스터즈타워,3113005,1.987082,한강,37.543002,126.949375,0.051121,0.046862
689,1159010800105080000005328,대방1차e-편한세상,4157499,1.988455,한강,37.511619,126.929399,0.051856,0.029093
690,1144010400100170022021667,신라스테이 마포,2113001,1.993715,한강,37.542876,126.949703,0.049114,0.041875

## 건물 밑둘레가 ? 이하인 건물 샘플링

In [62]:
result_B.loc[(result_B.BI+result_B.Bs)<=0.14,:]
# result_B.columns

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,BI,Bs
0,1144011400104370000024635,창전동삼성아파트,3113010,0.147781,마포,0.067796,0.058159
1,1144011400104370000008972,창전동삼성아파트,3113010,0.179150,마포,0.049126,0.046853
2,1144011400104370000008974,창전동삼성아파트,3113010,0.193310,마포,0.042105,0.035884
3,1144011400104370000008973,창전동삼성아파트,3113010,0.205810,마포,0.043111,0.041869
4,1144011400104370000008971,창전동삼성아파트,3113010,0.211544,마포,0.024925,0.021058
...,...,...,...,...,...,...,...
621,1114016900100010004000001,농협중앙회(신관),3000008,1.770812,중구,0.086179,0.052845
622,1111012000102260000000001,흥국생명빌딩,3005004,1.787164,중구,0.065828,0.055122
623,1141010400101630000030848,NaN,3112011,1.791044,중구,0.041894,0.018048
624,1114014700101460037000001,씨제이제일제당빌딩,3005001,1.886691,중구,0.069836,0.043078
625,1117010400101010049028625,갈월동 에이트리움-고려,2005005,1.955133,중구,0.047098,0.033906

In [165]:
final = result_B.sort_values(by=['BI']+['Bs'])
final['length'] = final['BI']
final['length'] = final['BI'] + final['Bs']
final

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
457,1123010600103290003016712,래미안장안2차아파트,3105011,1.458590,중랑,37.574955,127.076299,0.004991,0.004003,0.008995
483,1123010600103290003016703,래미안장안2차아파트,3105011,1.565656,중랑,37.575074,127.074284,0.005005,0.004992,0.009997
515,1123010600103290003016731,래미안장안2차아파트,3105011,1.713295,중랑,37.573443,127.074067,0.005005,0.004992,0.009997
181,1153010200100430004019572,다솜금호아파트,4148368,1.482139,구로2,37.502778,126.891769,0.005980,0.005016,0.010996
34,1144011100104500000008344,신촌삼익아파트,3113013,0.590998,마포,37.551338,126.934985,0.005982,0.005013,0.010996
...,...,...,...,...,...,...,...,...,...,...
619,1156011000100200000031046,NaN,2118001,0.579989,한강,37.527927,126.929236,0.162535,0.106321,0.268856
95,1141011400101340000030940,세브란스 새병원,3112008,1.668856,마포,37.562306,126.941020,0.173493,0.151391,0.324884
265,1153010200100030025000001,신도림테크노마트,3116007,1.857895,구로2,37.507048,126.890225,0.179497,0.138462,0.317960
626,1156011000100330000031286,한국거래소,3118019,0.941180,한강,37.522908,126.928042,0.188464,0.146508,0.334972
567,1114010400101800006023330,롯데호텔,3101006,1.008164,중구,37.565347,126.981007,0.218461,0.104238,0.322699

In [167]:
final.sort_values(by='length')

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
457,1123010600103290003016712,래미안장안2차아파트,3105011,1.458590,중랑,37.574955,127.076299,0.004991,0.004003,0.008995
483,1123010600103290003016703,래미안장안2차아파트,3105011,1.565656,중랑,37.575074,127.074284,0.005005,0.004992,0.009997
515,1123010600103290003016731,래미안장안2차아파트,3105011,1.713295,중랑,37.573443,127.074067,0.005005,0.004992,0.009997
34,1144011100104500000008344,신촌삼익아파트,3113013,0.590998,마포,37.551338,126.934985,0.005982,0.005013,0.010996
181,1153010200100430004019572,다솜금호아파트,4148368,1.482139,구로2,37.502778,126.891769,0.005980,0.005016,0.010996
...,...,...,...,...,...,...,...,...,...,...
631,1156011000100600000037301,한화금융센터_63,3118001,1.079408,한강,37.519662,126.939911,0.135592,0.135340,0.270932
265,1153010200100030025000001,신도림테크노마트,3116007,1.857895,구로2,37.507048,126.890225,0.179497,0.138462,0.317960
567,1114010400101800006023330,롯데호텔,3101006,1.008164,중구,37.565347,126.981007,0.218461,0.104238,0.322699
95,1141011400101340000030940,세브란스 새병원,3112008,1.668856,마포,37.562306,126.941020,0.173493,0.151391,0.324884
626,1156011000100330000031286,한국거래소,3118019,0.941180,한강,37.522908,126.928042,0.188464,0.146508,0.334972

In [179]:
700*0.75

525.0

In [188]:
final.length.describe()

count    691.000000
mean       0.083125
std        0.042123
min        0.008995
25%        0.058977
50%        0.077974
75%        0.097976
max        0.334972
Name: length, dtype: float64

In [190]:
final.loc[final.length<=0.083125,].sort_values('length')

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
457,1123010600103290003016712,래미안장안2차아파트,3105011,1.458590,중랑,37.574955,127.076299,0.004991,0.004003,0.008995
483,1123010600103290003016703,래미안장안2차아파트,3105011,1.565656,중랑,37.575074,127.074284,0.005005,0.004992,0.009997
515,1123010600103290003016731,래미안장안2차아파트,3105011,1.713295,중랑,37.573443,127.074067,0.005005,0.004992,0.009997
34,1144011100104500000008344,신촌삼익아파트,3113013,0.590998,마포,37.551338,126.934985,0.005982,0.005013,0.010996
181,1153010200100430004019572,다솜금호아파트,4148368,1.482139,구로2,37.502778,126.891769,0.005980,0.005016,0.010996
...,...,...,...,...,...,...,...,...,...,...
656,1156011000100480002031664,대우트럼프월드2,3118020,1.450885,한강,37.517429,126.927617,0.042110,0.040871,0.082981
564,1114016600101110000000001,태평로빌딩,2005001,1.000931,중구,37.562967,126.975960,0.043090,0.039894,0.082985
195,1153010200112670000020550,신도림태영타운,3116007,1.622554,구로2,37.505522,126.887241,0.045130,0.037856,0.082986
574,1117010700100360017000003,센트레빌아스테리움서울,2005005,1.101927,중구,37.551065,126.973598,0.045095,0.037898,0.082992
83,1144012200103810016018977,KCC엠파이어리버,3113014,1.458929,마포,37.548314,126.912141,0.058132,0.024887,0.083018

In [191]:
final_b = final.loc[final.length<=0.083125,]
final_b

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
457,1123010600103290003016712,래미안장안2차아파트,3105011,1.458590,중랑,37.574955,127.076299,0.004991,0.004003,0.008995
483,1123010600103290003016703,래미안장안2차아파트,3105011,1.565656,중랑,37.575074,127.074284,0.005005,0.004992,0.009997
515,1123010600103290003016731,래미안장안2차아파트,3105011,1.713295,중랑,37.573443,127.074067,0.005005,0.004992,0.009997
181,1153010200100430004019572,다솜금호아파트,4148368,1.482139,구로2,37.502778,126.891769,0.005980,0.005016,0.010996
34,1144011100104500000008344,신촌삼익아파트,3113013,0.590998,마포,37.551338,126.934985,0.005982,0.005013,0.010996
...,...,...,...,...,...,...,...,...,...,...
598,1111012300101590001017415,동아일보사,3100021,1.533161,중구,37.569545,126.978018,0.058855,0.022055,0.080910
296,1153010700104760000006865,한마을아파트,3000028,1.963975,구로2,37.496287,126.861947,0.059825,0.023131,0.082956
673,1159010800105020000004742,대방동현대아파트,3119001,1.829934,한강,37.512908,126.930257,0.060843,0.017077,0.077921
517,1123010600103290003016729,래미안장안2차아파트,3105011,1.739147,중랑,37.572975,127.074327,0.060871,0.018987,0.079858
669,1159010800105020000003715,대방동현대아파트,3119001,1.813260,한강,37.512899,126.931071,0.061842,0.016075,0.077917

In [182]:
final.sort_values(by='length')[1:526]

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
483,1123010600103290003016703,래미안장안2차아파트,3105011,1.565656,중랑,37.575074,127.074284,0.005005,0.004992,0.009997
515,1123010600103290003016731,래미안장안2차아파트,3105011,1.713295,중랑,37.573443,127.074067,0.005005,0.004992,0.009997
34,1144011100104500000008344,신촌삼익아파트,3113013,0.590998,마포,37.551338,126.934985,0.005982,0.005013,0.010996
181,1153010200100430004019572,다솜금호아파트,4148368,1.482139,구로2,37.502778,126.891769,0.005980,0.005016,0.010996
182,1153010200100430004019630,다솜금호아파트,4148368,1.482202,구로2,37.502689,126.891962,0.006017,0.004981,0.010998
...,...,...,...,...,...,...,...,...,...,...
416,1130510200101390000035315,해모로아파트,3108004,1.826857,강북,37.626637,127.037972,0.059874,0.039048,0.098922
209,1153010200112670000020551,신도림태영타운,3116007,1.668061,구로2,37.505829,126.887852,0.055155,0.043831,0.098986
338,1120011400107100000009929,강변 건영아파트,3005011,1.059267,성동,37.540400,127.045950,0.052074,0.046914,0.098988
419,1126010100115150000020586,성원아파트,3005028,0.929494,중랑,37.577558,127.090792,0.055910,0.044028,0.099938
261,1153010700104760000006875,한마을아파트,3000028,1.834803,구로2,37.494513,126.862900,0.064796,0.035160,0.099956

In [109]:
# for i in final['BD_MGT_SN']:
#     final.loc[final.BD_MGT_SN==i,'BD_MGT_SN']= str(i)
# # str(final['BD_MGT_SN'])
# final

In [117]:
final.loc[final.length<=0.084,].sort_values(by='length')

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
464,1123010600103290003016712,래미안장안2차아파트,3105011,1.458590,중랑,37.574955,127.076299,0.004991,0.004003,0.008995
490,1123010600103290003016703,래미안장안2차아파트,3105011,1.565656,중랑,37.575074,127.074284,0.005005,0.004992,0.009997
522,1123010600103290003016731,래미안장안2차아파트,3105011,1.713295,중랑,37.573443,127.074067,0.005005,0.004992,0.009997
34,1144011100104500000008344,신촌삼익아파트,3113013,0.590998,마포,37.551338,126.934985,0.005982,0.005013,0.010996
300,1153010200100430004019572,다솜금호아파트,4148368,1.482139,구로2,37.502778,126.891769,0.005980,0.005016,0.010996
...,...,...,...,...,...,...,...,...,...,...
340,1153010200112620000019178,월드아파트,3116005,1.711027,구로2,37.505583,126.876169,0.044135,0.039848,0.083983
545,1114012100100370006000001,NaN,3101004,0.267330,중구,37.558220,126.981744,0.043088,0.040895,0.083983
16,1144011400104400000008993,창전동현대홈타운,3113010,0.332911,마포,37.550922,126.932044,0.044111,0.039874,0.083985
275,1153010200101100004020867,도림두산베어스타워,3116004,1.220379,구로2,37.501020,126.889646,0.047131,0.036858,0.083989
336,1153010600103340000014363,벽산블루밍,3000028,1.695265,구로2,37.494867,126.864618,0.055145,0.028853,0.083997

In [119]:
final_2=final.loc[final.length<=0.084,].sort_values(by='length')

In [135]:
final_2=final.loc[final.length<=0.1,].sort_values(by='length')

In [115]:
final.sort_values(by='length')[1:400]

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
490,1123010600103290003016703,래미안장안2차아파트,3105011,1.565656,중랑,37.575074,127.074284,0.005005,0.004992,0.009997
522,1123010600103290003016731,래미안장안2차아파트,3105011,1.713295,중랑,37.573443,127.074067,0.005005,0.004992,0.009997
34,1144011100104500000008344,신촌삼익아파트,3113013,0.590998,마포,37.551338,126.934985,0.005982,0.005013,0.010996
300,1153010200100430004019572,다솜금호아파트,4148368,1.482139,구로2,37.502778,126.891769,0.005980,0.005016,0.010996
301,1153010200100430004019630,다솜금호아파트,4148368,1.482202,구로2,37.502689,126.891962,0.006017,0.004981,0.010998
...,...,...,...,...,...,...,...,...,...,...
417,1154510100107700000015542,108동,3117003,1.971175,구로2,37.474947,126.892002,0.046847,0.037123,0.083970
340,1153010200112620000019178,월드아파트,3116005,1.711027,구로2,37.505583,126.876169,0.044135,0.039848,0.083983
545,1114012100100370006000001,NaN,3101004,0.267330,중구,37.558220,126.981744,0.043088,0.040895,0.083983
16,1144011400104400000008993,창전동현대홈타운,3113010,0.332911,마포,37.550922,126.932044,0.044111,0.039874,0.083985
275,1153010200101100004020867,도림두산베어스타워,3116004,1.220379,구로2,37.501020,126.889646,0.047131,0.036858,0.083989

In [118]:
final_2.to_csv('../data/sampling.csv',encoding='euc-kr',index=False)

In [96]:
test = pd.read_csv('../data/test.csv',encoding='euc-kr')
test

,BD_MGT_SN,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
0,1123010600103290003016712,래미안장안2차아파트,3105011,1.458590,중랑,37.574955,127.076299,0.004991,0.004003,0.008995
1,1123010600103290003016703,래미안장안2차아파트,3105011,1.565656,중랑,37.575074,127.074284,0.005005,0.004992,0.009997
2,1123010600103290003016731,래미안장안2차아파트,3105011,1.713295,중랑,37.573443,127.074067,0.005005,0.004992,0.009997
3,1153010200100430004019572,다솜금호아파트,4148368,1.482139,구로2,37.502778,126.891769,0.005980,0.005016,0.010996
4,1144011100104500000008344,신촌삼익아파트,3113013,0.590998,마포,37.551338,126.934985,0.005982,0.005013,0.010996
...,...,...,...,...,...,...,...,...,...,...
621,1153010200101880025022719,지밸리비즈플라자,3000026,1.364839,구로2,37.484925,126.896532,0.143379,0.100604,0.243984
622,1114011800103950000021505,힐튼호텔,3101018,0.757839,중구,37.555453,126.975498,0.151309,0.102717,0.254025
623,1141011400101340000030940,세브란스 새병원,3112008,1.668856,마포,37.562306,126.941020,0.173493,0.151391,0.324884
624,1153010200100030025000001,신도림테크노마트,3116007,1.857895,구로2,37.507048,126.890225,0.179497,0.138462,0.317960
625,1114010400101800006023330,롯데호텔,3101006,1.008164,중구,37.565347,126.981007,0.218461,0.104238,0.322699

In [97]:
len(test['BD_MGT_SN'].unique())

626

In [120]:
near_building_code = list(final_2.BD_MGT_SN)
len(near_building_code)

401

## shp 파일로 변환

In [186]:
# data = gpd.read_file('../data/2016년상/TL_SPBD_BULD.shp')
# data

In [192]:
near_building_code = list(final_b.BD_MGT_SN.unique())
len(near_building_code)

410

In [169]:
high_building = gpd.read_file('../QGIS/건물/high_bld_over20_include_latlon.shp',encoding='euc-kr')
high_building

,BDTYP_CD,BD_MGT_SN,BSI_INT_SN,BSI_ZON_NO,BULD_MNNM,BULD_NM,BULD_NM_DC,BULD_SE_CD,BULD_SLNO,BUL_DPN_SE,...,XMAX,YMAX,SHAPE_AREA,lat_center,lon_center,lat_max,lon_max,lat_min,lon_min,geometry
0,10299,1111012000101160000028381,27896.0,03185,82,에스타워,None,0,0,M,...,197721,452263,1121.41,37.569797,126.973931,37.569905,126.974203,37.569679,126.973660,"POLYGON ((197720.277 452238.828, 197673.687 45..."
1,10202,1111012000101630000031927,27901.0,03186,92,광화문오피시아빌딩,None,0,0,M,...,197813,452255,1625.34,37.569698,126.974905,37.569833,126.975244,37.569571,126.974565,"POLYGON ((197812.788 452254.526, 197812.689 45..."
2,11101,1111011700100290000000001,27904.0,03183,97,포시즌스호텔,None,0,0,M,...,197853,452376,2437.16,37.570698,126.975402,37.570923,126.975697,37.570464,126.975086,"POLYGON ((197848.392 452336.127, 197847.468 45..."
3,04402,1111012000102260000000001,27889.0,03184,68,흥국생명빌딩,None,0,0,M,...,197571,452262,1978.19,37.569643,126.972143,37.569895,126.972505,37.569400,126.971758,"POLYGON ((197527.460 452207.780, 197524.458 45..."
4,10299,1111012000101150000000001,27893.0,03185,76,금호아시아나본관(메인타워),None,0,0,M,...,197660,452265,1386.30,37.569796,126.973173,37.569923,126.973512,37.569670,126.972845,"POLYGON ((197646.703 452263.829, 197646.305 45..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4537,02001,1141011800104600000012964,4102.0,03600,149,홍은동풍림아이원아파트,107동,0,0,M,...,195365,456052,398.26,37.603899,126.947318,37.604034,126.947510,37.603755,126.947125,"POLYGON ((195339.403 456051.512, 195343.066 45..."
4538,02001,1123010600103360000016135,19251.0,02638,107,장안현대홈타운,112동,0,0,M,...,206524,452244,525.45,37.569515,127.073678,37.569713,127.073848,37.569308,127.073508,"POLYGON ((206522.484 452235.507, 206516.151 45..."
4539,02001,1154510200110950000013518,15740.0,08599,62,한신아파트,11동,0,0,M,...,190293,439632,474.15,37.455843,126.890142,37.456051,126.890288,37.455645,126.889995,"POLYGON ((190280.109 439623.934, 190282.509 43..."
4540,02001,1171010100100400000026810,2701.0,05553,212,갤러리아팰리스,A,0,0,M,...,208324,445800,3365.82,37.511423,127.093528,37.511638,127.094150,37.511135,127.093019,"POLYGON ((208323.686 445784.122, 208320.246 44..."
4541,02001,1156012200100430000037431,14062.0,07287,32,문래동삼환아파트,102동,0,0,M,...,190290,446063,508.21,37.513850,126.889932,37.513994,126.890169,37.513706,126.889695,"POLYGON ((190253.887 446062.851, 190261.617 44..."

In [171]:
high_building.loc[high_building.BD_MGT_SN.isin(near_building_code),:]

,BDTYP_CD,BD_MGT_SN,BSI_INT_SN,BSI_ZON_NO,BULD_MNNM,BULD_NM,BULD_NM_DC,BULD_SE_CD,BULD_SLNO,BUL_DPN_SE,...,XMAX,YMAX,SHAPE_AREA,lat_center,lon_center,lat_max,lon_max,lat_min,lon_min,geometry
0,10299,1111012000101160000028381,27896.0,03185,82,에스타워,None,0,0,M,...,197721,452263,1121.41,37.569797,126.973931,37.569905,126.974203,37.569679,126.973660,"POLYGON ((197720.277 452238.828, 197673.687 45..."
1,10202,1111012000101630000031927,27901.0,03186,92,광화문오피시아빌딩,None,0,0,M,...,197813,452255,1625.34,37.569698,126.974905,37.569833,126.975244,37.569571,126.974565,"POLYGON ((197812.788 452254.526, 197812.689 45..."
2,11101,1111011700100290000000001,27904.0,03183,97,포시즌스호텔,None,0,0,M,...,197853,452376,2437.16,37.570698,126.975402,37.570923,126.975697,37.570464,126.975086,"POLYGON ((197848.392 452336.127, 197847.468 45..."
3,04402,1111012000102260000000001,27889.0,03184,68,흥국생명빌딩,None,0,0,M,...,197571,452262,1978.19,37.569643,126.972143,37.569895,126.972505,37.569400,126.971758,"POLYGON ((197527.460 452207.780, 197524.458 45..."
4,10299,1111012000101150000000001,27893.0,03185,76,금호아시아나본관(메인타워),None,0,0,M,...,197660,452265,1386.30,37.569796,126.973173,37.569923,126.973512,37.569670,126.972845,"POLYGON ((197646.703 452263.829, 197646.305 45..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4519,03001,1114011400102500000022814,13736.0,04514,67,삼성본관,삼성전자,0,0,M,...,197875,451466,3482.44,37.562382,126.975564,37.562724,126.975948,37.562030,126.975168,"POLYGON ((197834.048 451465.276, 197871.088 45..."
4520,02001,1144010400103530000003618,20373.0,04180,72,현대홈타운,203동,0,0,S,...,195769,448660,680.73,37.537372,126.951800,37.537435,126.952128,37.537290,126.951483,"POLYGON ((195712.136 448659.524, 195723.571 44..."
4524,13100,1154510100100600005000001,15017.0,08512,32,갑을 그레이트밸리,None,0,0,M,...,190094,442287,3675.69,37.479510,126.887507,37.479970,126.888003,37.479078,126.887044,"POLYGON ((190009.713 442259.353, 190046.709 44..."
4530,02001,1120010800102760000016810,26732.0,04747,34,응봉동리버그린동아아파트,302동,0,0,S,...,203338,450422,199.98,37.553215,127.037663,37.553314,127.037776,37.553116,127.037550,"POLYGON ((203337.808 450408.358, 203328.846 45..."
4531,10299,1114016900100010004000001,10852.0,04517,120,농협중앙회(신관),None,0,0,M,...,197166,451847,2279.66,37.565786,126.967571,37.566155,126.967922,37.565380,126.967323,"POLYGON ((197148.768 451796.370, 197157.972 45..."

In [193]:
# geometry 추가
data = pd.merge(high_building.loc[high_building.BD_MGT_SN.isin(near_building_code),['BD_MGT_SN','geometry']],final_b,on='BD_MGT_SN')
data

,BD_MGT_SN,geometry,BULD_NM,RN_CD,거리_km,STN,lat_center,lon_center,BI,Bs,length
0,1111012000101160000028381,"POLYGON ((197720.277 452238.828, 197673.687 45...",에스타워,3005004,1.714606,중구,37.569797,126.973931,0.047880,0.025060,0.072940
1,1111012300101590001017415,"POLYGON ((198086.109 452212.965, 198038.613 45...",동아일보사,3100021,1.533161,중구,37.569545,126.978018,0.058855,0.022055,0.080910
2,1111012300101490000017342,"POLYGON ((198142.989 452220.441, 198149.019 45...",청계11빌딩,3100021,1.502497,중구,37.569482,126.978867,0.034911,0.026056,0.060968
3,1111012300100880000032821,"POLYGON ((198376.542 452189.579, 198373.992 45...",관정빌딩,3100021,1.435809,중구,37.569338,126.981380,0.046884,0.024054,0.070938
4,1114010200100390000023316,"POLYGON ((198261.736 452092.438, 198259.666 45...",한미은행빌딩,3100021,1.367078,중구,37.568518,126.980214,0.041894,0.033070,0.074964
...,...,...,...,...,...,...,...,...,...,...,...
405,1153010200112810000000005,"POLYGON ((188986.098 443019.972, 188985.664 44...",한일유앤아이아파트,3000023,0.863511,구로2,37.486490,126.875579,0.027077,0.019917,0.046994
406,1153010200100460006000001,"POLYGON ((190402.069 444608.895, 190410.849 44...",신도림 쌍용플래티넘 노블,3116004,1.287934,구로2,37.500787,126.891614,0.036104,0.031883,0.067987
407,1144011100104500000008338,"POLYGON ((194242.357 450284.293, 194239.367 45...",신촌삼익아파트,3113013,0.583940,마포,37.552077,126.934815,0.006979,0.006016,0.012995
408,1153010600103340000014356,"POLYGON ((188046.643 444153.849, 188050.039 44...",벽산블루밍,3000028,1.755747,구로2,37.496651,126.864581,0.051838,0.027126,0.078964
409,1153010100106420000026422,"POLYGON ((189284.872 445209.085, 189314.556 44...",신도림 대림아파트,3116008,1.694221,구로2,37.506109,126.878928,0.042130,0.039852,0.081982

In [ ]:
data.loc[data.BULD_NM.]

In [194]:
gpd.GeoDataFrame(data).to_file("../data/narrow_building_sampling.shp",encoding="euc-kr")

In [15]:
final = gpd.read_file('../QGIS/건물/near_building_samples.shp',encoding='euc-kr')
final

,BDTYP_CD,BD_MGT_SN,BSI_INT_SN,BSI_ZON_NO,BULD_MNNM,BULD_NM,BULD_NM_DC,BULD_SE_CD,BULD_SLNO,BUL_DPN_SE,...,SHAPE_AREA,lat_center,lon_center,lat_max,lon_max,lat_min,lon_min,Bl,Bs,geometry
0,04402,1114011400101500000022693,13730.0,04513,55,쇱깆紐鍮,蹂몄(쇱깊쇱),0,0,M,...,2673.05,37.561616,126.974975,37.561904,126.975371,37.561363,126.974545,0.072811,0.060131,"POLYGON ((197823.631 451329.587, 197823.741 45..."
1,04402,1114016600101110000000001,13739.0,04514,73,濡鍮,None,0,0,M,...,1084.26,37.562967,126.975960,37.563157,126.976186,37.562769,126.975733,0.043090,0.039894,"POLYGON ((197866.622 451513.504, 197884.438 45..."
2,04402,1114011400100430000023455,13748.0,04525,92,湲듭쇳_濡,None,0,0,M,...,1917.79,37.564229,126.977566,37.564518,126.977849,37.563941,126.977317,0.064130,0.046874,"POLYGON ((198042.112 451656.554, 198028.468 45..."
3,04402,1114011800105410000021354,18135.0,04637,416,몄ㅽ,None,0,0,M,...,7117.58,37.555507,126.973755,37.556020,126.974185,37.555038,126.973337,0.109224,0.074792,"POLYGON ((197701.901 450721.470, 197712.781 45..."
4,04402,1114011800105810000021764,18155.0,04637,110,몄고,None,0,0,M,...,1993.57,37.554299,126.974050,37.554579,126.974367,37.554065,126.973756,0.057121,0.053857,"POLYGON ((197715.084 450505.455, 197708.344 45..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,02001,1168011800104670006000002,19298.0,06292,13,由쇱щ鍮 吏,B,0,0,M,...,1213.25,37.488031,127.051301,37.488257,127.051561,37.487815,127.051029,0.049066,0.046916,"POLYGON ((204543.317 443201.398, 204559.709 44..."
750,03001,1114011400102500000022814,13736.0,04514,67,쇱깅낯愿,쇱깆,0,0,M,...,3482.44,37.562382,126.975564,37.562724,126.975948,37.562030,126.975168,0.077161,0.068817,"POLYGON ((197834.048 451465.276, 197871.088 45..."
751,02001,1156011200101640000029240,23316.0,07264,95,,102,0,0,M,...,468.85,37.524027,126.894861,37.524117,126.895098,37.523928,126.894623,0.041877,0.021086,"POLYGON ((190688.066 447185.156, 190691.066 44..."
752,02001,1141011800104600000012964,4102.0,03600,149,由쇱댁,107,0,0,M,...,398.26,37.603899,126.947318,37.604034,126.947510,37.603755,126.947125,0.033902,0.031077,"POLYGON ((195339.403 456051.512, 195343.066 45..."
753,02001,1171010100100400000026810,2701.0,05553,212,媛ㅻщ━곕━,A,0,0,M,...,3365.82,37.511423,127.093528,37.511638,127.094150,37.511135,127.093019,0.099819,0.056005,"POLYGON ((208323.686 445784.122, 208320.246 44..."

In [10]:
final.columns

Index(['BDTYP_CD', 'BD_MGT_SN', 'BSI_INT_SN', 'BSI_ZON_NO', 'BULD_MNNM',
       'BULD_NM', 'BULD_NM_DC', 'BULD_SE_CD', 'BULD_SLNO', 'BUL_DPN_SE',
       'BUL_MAN_NO', 'EMD_CD', 'GRO_FLO_CO', 'LI_CD', 'LNBR_MNNM', 'LNBR_SLNO',
       'MNTN_YN', 'RN_CD', 'SIG_CD', 'UND_FLO_CO', 'ZIP', 'X_AXIS', 'Y_AXIS',
       'HOUS_ID', 'TOTAL_AREA', 'ADMI_CD', 'BLK_CD', 'OA_CD', 'FL_UP_NEW',
       'FL_DN_NEW', 'USE_CD_NEW', 'XMIN', 'YMIN', 'XMAX', 'YMAX', 'SHAPE_AREA',
       'lat_center', 'lon_center', 'lat_max', 'lon_max', 'lat_min', 'lon_min',
       'Bl', 'Bs', 'geometry'],
      dtype='object')

In [12]:
test = final[['BD_MGT_SN', 'lat_center', 'lon_center', 'lat_max', 'lon_max', 'lat_min', 'lon_min']]
test

,BD_MGT_SN,lat_center,lon_center,lat_max,lon_max,lat_min,lon_min
0,1114011400101500000022693,37.561616,126.974975,37.561904,126.975371,37.561363,126.974545
1,1114016600101110000000001,37.562967,126.975960,37.563157,126.976186,37.562769,126.975733
2,1114011400100430000023455,37.564229,126.977566,37.564518,126.977849,37.563941,126.977317
3,1114011800105410000021354,37.555507,126.973755,37.556020,126.974185,37.555038,126.973337
4,1114011800105810000021764,37.554299,126.974050,37.554579,126.974367,37.554065,126.973756
...,...,...,...,...,...,...,...
749,1168011800104670006000002,37.488031,127.051301,37.488257,127.051561,37.487815,127.051029
750,1114011400102500000022814,37.562382,126.975564,37.562724,126.975948,37.562030,126.975168
751,1156011200101640000029240,37.524027,126.894861,37.524117,126.895098,37.523928,126.894623
752,1141011800104600000012964,37.603899,126.947318,37.604034,126.947510,37.603755,126.947125
753,1171010100100400000026810,37.511423,127.093528,37.511638,127.094150,37.511135,127.093019

In [127]:
wind = gpd.read_file('../QGIS/wind_high_cnt_shpfile.shp')
wind.loc[wind.staion.isin(['[기] 마포','[기] 구로','[서] 서대문','[기] 성동','[기] 강북','[서] 구로','[기] 중랑','[기] 중구'])]

,field_1,station,wind_speed,address,lat_WGS,lon_WGS,lat_EPSG,lon_EPSG,geometry
0,0,[기] 마포,42870,대한민국 서울특별시 마포구 창전동 와우산체육공원,37.551202,126.928284,550189.323655,193662.786566,POINT (193662.787 550189.324)
1,1,[기] 구로,32062,대한민국 서울특별시 구로구 수궁동 부일로 893,37.494228,126.825958,543877.735126,184609.032747,POINT (184609.033 543877.735)
2,2,[서] 구로,29678,대한민국 서울특별시 구로구 구로동 구로동로 141,37.491271,126.883291,543541.694121,189678.795942,POINT (189678.796 543541.694)
3,3,[기] 성동,26356,대한민국 서울특별시 성동구 성수동1가 서울숲길 18,37.547630,127.038127,549791.118394,203369.263191,POINT (203369.263 549791.118)
4,4,[기] 강북,24190,대한민국 서울특별시 강북구 수유동 도봉로89길 13,37.639777,127.025518,560018.015603,202252.262989,POINT (202252.263 560018.016)
5,5,[기] 중랑,21619,대한민국 서울특별시 중랑구 면목본동 면목로57길 32,37.585227,127.086594,553966.776069,207648.393511,POINT (207648.394 553966.776)
6,6,[기] 한강,21206,대한민국 서울특별시 영등포구 여의도동 여의동로 280,37.528783,126.935724,547700.634645,194318.539370,POINT (194318.539 547700.635)
7,7,[기] 중구,20626,대한민국 서울특별시 중구 명동 소파로 83,37.556591,126.983974,550785.119557,198583.999332,POINT (198583.999 550785.120)
8,8,[서] 서대문,19077,대한민국 서울특별시 서대문구 홍은동 산26-155,37.580652,126.931270,553457.687553,193929.079214,POINT (193929.079 553457.688)
9,9,[기] 용산,17109,대한민국 서울특별시 용산구 이촌1동 이촌로 255,37.519929,126.975915,546716.304815,197870.883519,POINT (197870.884 546716.305)
10,10,[기] 동대문,13289,대한민국 서울특별시 동대문구 전농2동 서울시립대로 163,37.583866,127.058777,553813.819430,205191.572973,POINT (205191.573 553813.819)
11,11,[기] 북악산,13118,대한민국 서울특별시 종로구 평창동 북악산로 267,37.601935,126.980536,555817.907498,198281.220714,POINT (198281.221 555817.907)
12,12,[기] 성북,12917,대한민국 서울특별시 정릉동,37.611724,126.999244,556904.168143,199933.250093,POINT (199933.250 556904.168)
13,13,[서] 강동,12703,대한민국 서울특별시 강동구 성내동 성내로 51,37.529129,127.126211,547744.546686,211155.947024,POINT (211155.947 547744.547)
14,14,[서] 영등포,12558,대한민국 서울특별시 영등포구 양평2동 양평로 171,37.539184,126.888856,548858.836788,190177.205230,POINT (190177.205 548858.837)
15,15,[서] 동대문,11335,대한민국 서울특별시 동대문구 휘경동 348,37.589293,127.069588,554416.885170,206146.041790,POINT (206146.042 554416.885)
16,16,[서] 동작,10342,대한민국 서울특별시 동작구 노량진1동 노들로 734,37.515572,126.944743,546233.850452,195114.863373,POINT (195114.863 546233.850)
17,17,[기] 서울,8608,대한민국 서울특별시 종로구 송월동 송월길 52,37.571427,126.966245,552432.211515,197018.035726,POINT (197018.036 552432.212)
18,18,[서] 은평,8597,대한민국 서울특별시 은평구 녹번동 녹번로,37.604862,126.929240,556144.915178,193751.784402,POINT (193751.784 556144.915)
19,19,[서] 남산,8341,대한민국 서울특별시 중구 예장동 삼일대로 231,37.555589,126.992210,550673.850596,199311.712109,POINT (199311.712 550673.851)
20,20,[기] 강서,6420,대한민국 서울특별시 강서구 화곡동 우장산로10길 112,37.549868,126.842289,550050.538056,186063.609795,POINT (186063.610 550050.538)
21,21,[서] 서초,5511,대한민국 서울특별시 서초구 방배2동 462-13,37.479740,126.985527,542255.628369,198719.855158,POINT (198719.855 542255.628)
22,22,[서] 중구,4984,대한민국 서울특별시 중구 장충동2가 장충단로 88,37.553550,127.003061,550447.544014,200270.468034,POINT (200270.468 550447.544)
23,23,[기] 관악,4860,대한민국 서울특별시 관악구 관악로 1,37.459882,126.951905,540052.646881,195744.930435,POINT (195744.930 540052.647)
24,24,[서] 광진,4738,대한민국 서울특별시 광진구 능동 천호대로112길 55,37.553723,127.080517,550469.798618,207114.674552,POINT (207114.675 550469.799)
25,25,[서] 용산,4614,대한민국 서울특별시 용산구 청파동 청파로49길 6,37.545398,126.969888,549543.202923,197338.910528,POINT (197338.911 549543.203)
26,26,[기] 남현,4562,대한민국 서울특별시 관악구 남현동,37.467555,126.979420,540903.391189,198179.399567,POINT (198179.400 540903.391)
27,27,[서] 중랑,4048,대한민국 서울특별시 중랑구 면목4동 378-5,37.573889,127.085000,552708.281306,207508.751007,POINT (207508.751 552708.281)
28,28,[기] 노원,3857,대한민국 서울특별시 노원구 공릉동 화랑로 574,37.623819,127.098878,558251.147703,208728.900992,POINT (208728.901 558251.148)
29,29,[기] 금천,3553,대한민국 서울특별시 금천구 독산2동 시흥대로104길 31,37.465101,126.900008,540635.538032,191154.030760,POINT (191154.031 540635.538)
30,30,[기] 강동,3543,대한민국 서울특별시 강동구 고덕1동 고덕로 183,37.555390,127.145504,550661.630493,212856.731853,POINT (212856.732 550661.630)
31,31,[기] 송파,3511,대한민국 서울특별시 송파구 잠실3동 올림픽로 240,37.511116,127.098167,545742.361748,208679.174744,POINT (208679.175 545742.362)
32,32,[서] 성동,2767,대한민국 서울특별시 성동구 성수동1가 강변북로 257,37.538691,127.042044,548799.201024,203715.875673,POINT (203715.876 548799.201)
33,33,[기] 광진,2466,대한민국 서울특별시 광진구 자양2동 680-67,37.533332,127.085758,548206.954209,207579.791425,POINT (207579.791 548206.954)
34,34,[기] 서초,2171,대한민국 서울특별시 서초구 서초동 서초중앙로 96,37.489961,127.016412,543390.107591,201451.468027,POINT (201451.468 543390.108)
35,35,[기] 강남,2114,대한민국 서울특별시 강남구 삼성동 봉은사로63길 22,37.513098,127.046964,545958.880649,204152.113707,POINT (204152.114 545958.881)
36,36,[기] 기상청,2028,대한민국 서울특별시 동작구 신대방2동 여의대방로16길 61,37.493763,126.916751,543815.141991,192638.074961,POINT (192638.075 543815.142)
37,37,[서] 강북,1876,대한민국 서울특별시 강북구 미아동 솔샘로 284,37.618256,127.023837,557629.416573,202104.504057,POINT (202104.504 557629.417)
38,38,[기] 도봉,1713,대한민국 서울특별시 도봉구 방학동 시루봉로 173,37.665912,127.029323,562918.924129,202587.133791,POINT (202587.134 562918.924)
39,39,[기] 은평,1247,대한민국 서울특별시 은평구 진관동 산26,37.644998,126.942607,560598.747169,194934.845556,POINT (194934.846 560598.747)
40,40,[서] 금천,1055,대한민국 서울특별시 금천구 독산2동 범안로 1240-7,37.466077,126.899739,540743.852782,191130.357354,POINT (191130.357 540743.853)
41,41,[기] 서대문,1029,대한민국 서울특별시 서대문구 신촌동 연세로 50,37.565784,126.938572,551807.109142,194572.970363,POINT (194572.970 551807.109)
42,42,[서] 마포,995,대한민국 서울특별시 마포구 성산2동 성중길 82,37.573678,126.900898,552686.094228,191245.513380,POINT (191245.513 552686.094)
43,43,[서] 양천,965,대한민국 서울특별시 양천구 목동 목동동로 298,37.528679,126.878501,547694.053813,189260.469819,POINT (189260.470 547694.054)
44,44,[서] 성북,937,대한민국 서울특별시 성북구 종암동 종암로 98-8,37.599048,127.035315,555497.801941,203118.659314,POINT (203118.659 555497.802)
45,45,[기] 양천,767,대한민국 서울특별시 양천구 목1동 915,37.528679,126.878501,547694.053813,189260.469819,POINT (189260.470 547694.054)
46,46,[기] 현충원,705,대한민국 서울특별시 동작구 동작동 현충로 210,37.500593,126.972637,544570.246123,197580.460197,POINT (197580.460 544570.246)
47,47,[서] 관악,603,대한민국 서울특별시 관악구 성현동 구암길 38,37.489489,126.948147,543338.824902,195414.232661,POINT (195414.233 543338.825)
48,48,[서] 송파,558,대한민국 서울특별시 송파구 오금동 중대로25길 5,37.502962,127.128096,544840.564269,211326.465369,POINT (211326.465 544840.564)
49,49,[서] 강남,318,대한민국 서울특별시 강남구 삼성동 16-1,37.517542,127.047964,546452.152957,204240.254586,POINT (204240.255 546452.153)
50,50,[기] 영등포,307,대한민국 서울특별시 영등포구 당산2동 국회대로53길 20,37.526644,126.907202,547465.348339,191797.246626,POINT (191797.247 547465.348)
51,51,[서] 노원,159,대한민국 서울특별시 노원구 중계2.3동 507-2,37.640696,127.065168,560121.717502,205751.644784,POINT (205751.645 560121.718)
52,52,[서] 종로,47,대한민국 서울특별시 종로구 종로1.2.3.4가동 종로17길,37.571658,126.988485,552457.298863,198982.799001,POINT (198982.799 552457.299)
53,53,[서] 도봉,21,대한민국 서울특별시 도봉구 창1동 해등로 25,37.646724,127.043718,560789.676263,203858.215669,POINT (203858.216 560789.676)